h1{
    margin: 20px;
    padding: 20px;
    background-color: white;
    color: black;
    
    
}
p{
     margin: 20px;
     padding: 10px;
     background-color: white;
     color: grey;


}


image{
text-align: center;
}
 
pre{
    border: 2px;
    color: blue;
}